.plan-block {
  max-width: 450px;
  background-color: rgb(82, 97, 128);
}

.plan-name {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.plan-price {
  color: rgba(255, 255, 255);
  font-size: 36px;
  font-weight: 600;
}

.plan-description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
}